__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
venv/
.env
db.sqlite3
*.log
media/masters/
media/reviews/
staticfiles/
.vscode/
.idea/
.DS_Store
node_modules/
frontend/dist/
frontend/node_modules/
